.buscador{
    text-align: center;
}
.buscador select {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    font-size: 13px;
    padding: 2px;
    margin-bottom: 5px;
    color: #1f1f1f;
    margin-right: 50px;

}


.buscador input {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    font-size: 13px;
    padding: 2px;
    margin-bottom: 5px;
    color: #1f1f1f;
    margin-right: 50px;

}

.buscador input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.buscador button[type="submit"] {
	background: #303336;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 72px;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
    margin-top: 20px;
	transition: .3s ease all;
}

.buscador button[type="submit"]:hover {
	background: #040404;
}

