.tabla{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.edit{
    background-color: rgb(5, 194, 252);
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(97, 96, 93, 0.5);
    color:rgb(0, 0, 0);
    transition: .5s;
    margin-right: 5px;
}

.edit:hover{
    transform: scale(0.9);background-color: rgb(3, 164, 212);
  }


  .delete{
    background-color: rgb(255, 61, 2);
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(97, 96, 93, 0.5);
    color:rgb(0, 0, 0);
    transition: .5s;
}

.delete:hover{
    transform: scale(0.9); background-color: rgb(189, 45, 1);
  }


  .buscador{

    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.buscador select {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    font-size: 15px;
    padding: 2px;
    margin-bottom: 5px;
    color: #1f1f1f;
    margin-right: 50px;
    width: 250px;

}


.buscador input {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    font-size: 13px;
    padding: 2px;
    margin-bottom: 5px;
    color: #1f1f1f;
    margin-right: 50px;

}

.buscador input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.buscador button[type="submit"] {
	background: #303336;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 72px;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
    margin-top: 20px;
	transition: .3s ease all;
}

.buscador button[type="submit"]:hover {
	background: #040404;
}